## 202110028 강찬희

### 1. 3명 이상 친구 이름 리스트를 작성하고 다음 내용을 프로그램하시오
- insert()로 맨 앞에 새로운 친구 추가
- insert()로 3번째 위치에 새로운 친구 추가
- append()로 마지막에 친구 추가

In [ ]:
# 초기 친구 리스트 작성 (3명 이상)
friends = ["민수", "영희", "철수", "지영"]
print("초기 친구 리스트:", friends)

# 1. insert()로 맨 앞에 새로운 친구 추가
friends.insert(0, "도현")
print("맨 앞에 '도현' 추가 후:", friends)

# 2. insert()로 3번째 위치에 새로운 친구 추가 (인덱스 2)
friends.insert(2, "수진")
print("3번째 위치에 '수진' 추가 후:", friends)

# 3. append()로 마지막에 친구 추가
friends.append("하늘")
print("마지막에 '하늘' 추가 후:", friends)

# 최종 결과 확인
print("\n=== 최종 친구 리스트 ===")
print(f"총 {len(friends)}명의 친구:")
for i, friend in enumerate(friends, 1):
    print(f"{i}. {friend}")

초기 친구 리스트: ['민수', '영희', '철수', '지영']
맨 앞에 '도현' 추가 후: ['도현', '민수', '영희', '철수', '지영']
3번째 위치에 '수진' 추가 후: ['도현', '민수', '수진', '영희', '철수', '지영']
마지막에 '하늘' 추가 후: ['도현', '민수', '수진', '영희', '철수', '지영', '하늘']

=== 최종 친구 리스트 ===
총 7명의 친구:
1. 도현
2. 민수
3. 수진
4. 영희
5. 철수
6. 지영
7. 하늘

### 2. 리스트 [1, 2, 3]에 대해 다음과 같은 처리를 하라.
- 두 번째 요소를 17로 수정
- 리스트에 4,5,6을 추가
- 첫 번째 요소 제거
- 리스트를 요소 순서대로 배열하기
- 인덱스 3애 25넣기

In [3]:
list = [1, 2, 3]
print(list)
list[1] = 17
print(list)
list.extend([4, 5, 6])
print(list)
del list[0]
print(list)
list.sort()
print(list)
list.insert(3, 25)
print(list)

[1, 2, 3]
[1, 17, 3]
[1, 17, 3, 4, 5, 6]
[17, 3, 4, 5, 6]
[3, 4, 5, 6, 17]
[3, 4, 5, 25, 6, 17]

### 1. for 루프를 이용하여 다음과 같은 리스트를 생성하라.
- 0~49까지의 수로 구성되는 리스트
- 1~50까지 수의 제곱으로 구성되는 리스트

In [4]:
list1 = []
print(list1)
for i in range(50):
    list1.append(i)
print(list1)

list2 = []
print(list2)
for i in range(1, 51):
    list2.append(i**2)
print(list2)

[]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]

### 2. 크기가 같은 두 개의 리스트 L, M을 생성하고 두 리스트의 각 요소 합으로 구성되는 새로운 리스트를 생성하라. 예를 들어 L=[1,2,3]이고 M=[4,5,6]이면 [5,7,9]인 리스트 생성

In [6]:
L = [1, 2, 3]
M = [4, 5, 6]
result = []
for i in range(len(L)):
    result.append(L[i] + M[i])
print(L)
print(M)
print(result)

[1, 2, 3]
[4, 5, 6]
[5, 7, 9]

### 3. 사용자로부터 5개의 숫자를 문자열로 입력 받아 각 숫자를 +로 연결한 문자열을 생성하라. 예를 들어 2, 5, 11, 33, 55를 입력하면 '2+5+11+33+55'를 생성하라.

In [7]:
numbers = input("5개의 숫자를 공백으로 구분하여 입력하세요: ").split()
result = '+'.join(numbers)
print("결과 문자열:", result)

결과 문자열: 10+20+30+40+50